.locations {
    background-color: #00a9fd;
    position: relative;
    border-radius: 12px;

    &__title {
        text-align: center;
        padding-bottom: 18px;
        padding-top: 18px;
    }

    &__box {
        display: flex;
        justify-content: space-around;
    }

    &__list {
        @extend %list;
    }

    &__line {
        height: 473px;
        width: 1px;
        background-color: white;
    }

    &__item {
        color: white;
        margin-bottom: 19px;
    }

    &__link {
        @extend %link;

        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 1.2;

        // width: 114px;
        // height: 30px;

        background: #ff5d36;
        border-radius: 12.1111px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
}
